html {
  background: #030020;
  background: linear-gradient(130deg, #04002e 0% 5%, #030020 100%);
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a, a:visited, a:active {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  width: 95%;
  margin-inline: auto;
  text-align: center;
}
@media (min-width: 48em) {
  main {
    width: 90%;
  }
}
@media (min-width: 62em) {
  main {
    width: 85%;
  }
}
@media (min-width: 75em) {
  main {
    width: 80%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  line-height: 200%;
  margin-top: 300px;
  margin-bottom: 10px;
}

.hidden, .hidden__fade {
  opacity: 0 !important;
  pointer-events: none !important;
}
.hidden__fade {
  transform: translateY(40px);
}

@font-face {
  font-family: "Agency FB Thin";
  src: url(/src/fonts/AgencyFB-Bold.ttf) format("truetype");
}
html {
  color: var(--text);
}

h1, h2, h3, h4 {
  font-family: "Agency FB Thin", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 5px;
}

h1 {
  font-size: clamp(2.5rem, 0.8421rem + 7.3684vw, 6rem);
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 100;
}

:root {
  --text: #c2c2c2;
  --gradientA: var(--text);
  --gradientB: rgb(158, 188, 255);
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin-bottom: 10vh;
}
.welcome__headers {
  text-align: center;
  transition: 3s;
}
.welcome__headers h1 {
  letter-spacing: 10px;
  background: -webkit-linear-gradient(var(--gradientA), var(--gradientB) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
.welcome__headers h2 {
  font-weight: 100;
  font-size: clamp(1rem, 0.5263rem + 2.1053vw, 2rem);
  letter-spacing: 10px;
}

.skills {
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}
.skills__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.skills__icon {
  padding: 10px 50px;
  font-size: 4rem;
  transition: 0.5s;
}

.social {
  position: fixed;
  top: 15px;
  right: 15px;
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 99;
}
.social a {
  font-size: clamp(2.5rem, 1.9706rem + 1.4706vw, 3rem);
}

.to-top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 15px;
  right: 15px;
  width: 3rem;
  aspect-ratio: 1;
  z-index: 99;
  font-size: 2rem;
}

.social a, .to-top i {
  color: var(--text);
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}
.social a:hover, .to-top i:hover {
  transform: scale(0.9);
  opacity: 1;
}

.projects__card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 200px;
}
@media (min-width: 62em) {
  .projects__card {
    grid-template-columns: 1fr 1fr;
  }
}
.projects__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__info__large {
  display: none;
}
@media (min-width: 62em) {
  .projects__info__large {
    display: flex;
  }
}
@media (min-width: 62em) {
  .projects__info__small {
    display: none;
  }
}
.projects__title {
  position: relative;
  margin-bottom: 0;
}
.projects__title a {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text);
}
.projects__title h3 {
  margin: 5px 0;
}
.projects__icons {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.projects__icon {
  font-size: clamp(2rem, 0.9412rem + 2.9412vw, 3rem);
  margin: 0 15px;
}
.projects__gallery {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: min(325px, 75%);
}
.projects__gallery .image__left__A, .projects__gallery .image__left__B {
  transform: translateX(50%);
}
.projects__gallery .image__right__A, .projects__gallery .image__right__B {
  transform: translateX(-50%);
}
.projects__gallery .image__left__A {
  top: 0%;
  right: calc(50% - 30px);
}
@media (min-width: 62em) {
  .projects__gallery .image__left__A {
    top: 0;
    right: 0;
  }
}
.projects__gallery .image__right__A {
  top: 0%;
  left: calc(50% - 30px);
}
@media (min-width: 62em) {
  .projects__gallery .image__right__A {
    top: 0;
    left: 0;
  }
}
.projects__gallery .image__left__B {
  top: 90px;
  right: calc(50% + 30px);
}
@media (min-width: 48em) {
  .projects__gallery .image__left__B {
    top: 120px;
    right: calc(45% + 60px);
  }
}
@media (min-width: 62em) {
  .projects__gallery .image__left__B {
    top: 90px;
    right: 90px;
  }
}
@media (min-width: 75em) {
  .projects__gallery .image__left__B {
    top: 120px;
    right: 120px;
  }
}
.projects__gallery .image__right__B {
  top: 90px;
  left: calc(50% + 30px);
}
@media (min-width: 48em) {
  .projects__gallery .image__right__B {
    top: 120px;
    left: calc(45% + 60px);
  }
}
@media (min-width: 62em) {
  .projects__gallery .image__right__B {
    top: 90px;
    left: 90px;
  }
}
@media (min-width: 75em) {
  .projects__gallery .image__right__B {
    top: 120px;
    left: 120px;
  }
}
.projects__gallery .image__landscape {
  width: min(350px, 75%);
}
@media (min-width: 48em) {
  .projects__gallery .image__landscape {
    width: 450px;
  }
}
@media (min-width: 62em) {
  .projects__gallery .image__landscape {
    width: 350px;
  }
}
@media (min-width: 75em) {
  .projects__gallery .image__landscape {
    width: 450px;
  }
}
.projects__gallery .image__square {
  width: min(300px, 60%);
}
@media (min-width: 48em) {
  .projects__gallery .image__square {
    width: 375px;
  }
}
@media (min-width: 62em) {
  .projects__gallery .image__square {
    width: 300px;
  }
}
@media (min-width: 75em) {
  .projects__gallery .image__square {
    width: 375px;
  }
}
.projects__gallery .image__portrait {
  width: min(250px, 55%);
}
@media (min-width: 48em) {
  .projects__gallery .image__portrait {
    width: 300px;
  }
}
@media (min-width: 62em) {
  .projects__gallery .image__portrait {
    width: 250px;
  }
}
@media (min-width: 75em) {
  .projects__gallery .image__portrait {
    width: 300px;
  }
}
@media (min-width: 48em) {
  .projects__gallery {
    padding-bottom: min(425px, 75%);
  }
}
.projects__image {
  position: absolute;
  border-radius: 10px;
  border: solid 1px var(--text);
}
@media (min-width: 62em) {
  .projects__image {
    transform: translateX(0%) !important;
  }
}

.about p {
  line-height: 200%;
}
.about b {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 900;
}
.about__hook {
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
}
.about__intro {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 100px;
}
.about__history {
  width: 70%;
  margin-inline: auto;
}

.contact__icons {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.contact__icons a {
  font-size: 5rem;
  color: var(--text);
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
  margin: 0 50px;
}
.contact__icons a:hover {
  transform: scale(0.9);
  opacity: 1;
}

footer p {
  line-height: 100%;
  font-size: 0.8rem;
}/*# sourceMappingURL=main.css.map */