html {
  background: linear-gradient(130deg, #04002e 0% 5%, #030020 100%);
  min-height: 100vh;
}

body {
  display: grid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  color: white;
}

button {
  background-color: rgb(90, 90, 90);
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgba(30, 30, 30, 0.5);
  cursor: pointer;
  padding: 4px 10px;
  width: 80%;
  color: white;
}

button:hover {
  box-shadow: inset 3px 5px 5px rgba(30, 30, 30, 0.2);
  background-color: rgb(120, 120, 120);
}

.button-disabled {
  border: 2px solid #6d6d6d !important;
  color: #6d6d6d !important;
  cursor: default;
}

.grid {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  max-height: 100%;
}

.game {
  display: grid;
  grid-template-columns: repeat(12, 8.33%);
  gap: 0px;
  width: min(min(95vh, 75%), 600px);
  aspect-ratio: 1;
}

.plate {
  aspect-ratio: 1;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.player-icon, .key, .clock-1, .clock-2, .clock-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.player-icon-black {
  background-image: url(/images/tilegame/player-template-black.png);
}

.player-icon-white {
  background-image: url(/images/tilegame/player-template-white.png);
}

.player-icon-gold {
  background-image: url(/images/tilegame/player-template-gold.png);
}

.key {
  background-image: url(/images/tilegame/key.png);
}

.clock-2 {
  background-image: url(/images/tilegame/clock-2.png);
}

.clock-3 {
  background-image: url(/images/tilegame/clock-3.png);
}

.clock-5 {
  background-image: url(/images/tilegame/clock-5.png);
}

.floor-1 {
  background-image: url(/images/tilegame/grass.png);
  background-attachment: fixed;
}

.wall-1 {
  background: radial-gradient(green, rgb(0, 77, 0));
}

.floor-2 {
  background-image: url(/images/tilegame/dirt.png);
  background-attachment: fixed;
}

.wall-2 {
  background: radial-gradient(rgb(90,90,120), rgb(120,120,150))
}

.floor-3 {
  background-image: url(/images/tilegame/ice.png);
  background-attachment: fixed;
}

.wall-3 {
  background: radial-gradient(rgb(140, 140, 220), rgb(100, 100, 180));
}

.floor-4 {
  background-image: url(/images/tilegame/rock.png);
  background-attachment: fixed;
}

.wall-4 {
  background: radial-gradient(rgb(255, 106, 0), rgb(255, 38, 0));
}

.floor-5 {
  background-image: url(/images/tilegame/space.png);
  background-attachment: fixed;
}

.wall-5 {
  background: radial-gradient(rgb(138, 0, 145), rgb(81, 0, 44));
}

.control-panel {
  position: relative;
  width: min(25%, 200px);
  padding: 5px 10px;
  background-color: black;
  text-align: center;
  font-size: clamp(0.7rem, 0.1462rem + 2.4615vw, 1.5rem);
}

.start-game-button, .stop-game-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: clamp(1rem, -0.0588rem + 2.9412vw, 2rem);
}

.hidden {
  display: none;
}

.score-container {
  position: relative;
  width: 100%;
  line-height: 50%;
}

.score-boost {
  left: 75%;
}

.timer-container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 15%;
}

.timer {
  font-size: clamp(0.5rem, 0.5rem + 2vw, 2rem);
}

.timer-boost {
  left: 65%;
}

.boost {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  margin: 0;
  font-size: clamp(0.35rem, 0.35rem + 2vw, 1.5rem);
  color: #73d673;
  transition: 1s;
}

.boost-active {
  opacity: 0;
  transform: translateY(calc(-50% - 30px));
}

.colour-input {
  display: none;
}

.end-message {
  position: absolute;
  background-color: black;
  padding: 10px;
  margin: 0;
  width: 50%;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
}

.end-message-message {
  font-size: clamp(0.6rem, -0.0353rem + 1.7647vw, 1.2rem);
}

.end-message h2 {
  font-size: clamp(1.2rem, 0.3529rem + 2.3529vw, 2rem);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  border-bottom: none;
}

.end-message-score {
  font-size: clamp(0.8rem, 0.3765rem + 1.1765vw, 1.2rem);
}

.end-message button {
  width: 40%;
  margin-top: 10px;
}

.customiser-button {
  width: min(50px, 25%);
  aspect-ratio: 1;
  margin-top: 20px;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
  border: none;
}

  .customiser-button:hover {
    box-shadow: 0 0 15px white;
    transform: scale(0.95);
  }

.customiser-panel {
  position: absolute;
  background-color: black;
  padding: 10px;
  width: 50%;
  max-width: 500px;
  transform: translate();
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
}

.customiser-option {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.colour-select, .arrow-select {
  margin-top: 10px;
  background-color: rgb(90, 90, 90);
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgba(30, 30, 30, 0.5);
  cursor: pointer;
  padding: 4px 5px;
  width: calc(15% + 50px);
  color: white;
  text-align: center;
}

.colour-select option:disabled, .arrow-select option:disabled  {
  background-color: rgb(70, 70, 70);
}

.customiser-close {
  width: calc(20% + 40px);
  margin: 40px 0 10px 0;
}

.settings {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.reset-score-button {
  font-size: clamp(0.6rem, 0.3923rem + 0.9231vw, 0.9rem);

}

.about {
  display: flex;
  justify-content: center;
  height: min-content;
}

.about-button {
  border-radius: 100%;
  width: min-content;
  aspect-ratio: 1;
  padding-inline: 9px;
}

.about-panel {
  position: absolute;
  background-color: black;
  padding: 10px;
  width: 50%;
  max-width: 500px;
  transform: translate();
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
}

.about-close {
  width: calc(20% + 40px);
  margin: 40px 0 10px 0;
}

@media (max-width: 450px) {
  button {
    width: 40%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    height: 100vh;
  }
  
  .game {
    width: 90%;
    margin-inline: auto;
  }

  .control-panel {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: auto;
    padding-bottom: 75px;
    width: 90%;
  }

  .score-boost {
    left: 60%
  }

  .timer-boost {
    left: 55%;
  }

  .start-game-button, .stop-game-button, .customiser-button, .score-container, .high-score {
    margin-inline: auto;
  }

  .settings {
    gap: 0px;
    justify-content: center;
  }

  .about {
    position: absolute;
    left: 4px;
  }

  .end-message, .customiser-panel, .about-panel {
    top: 25%;
    width: 75%;
  }
}