html {
  background: linear-gradient(130deg, #04002e 0% 5%, #030020 100%);
  min-height: 100vh;
}

body {
  display: grid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  color: white;
}

button {
  background-color: rgb(90, 90, 90);
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgba(30, 30, 30, 0.5);
  cursor: pointer;
  padding: 4px 10px;
  width: 80%;
  color: white;
}

button:hover {
  box-shadow: inset 3px 5px 5px rgba(30, 30, 30, 0.2);
  background-color: rgb(120, 120, 120);
}

.button-disabled {
  border: 2px solid #6d6d6d !important;
  color: #6d6d6d !important;
  cursor: default;
}

.hidden {
  display: none;
}

@media (max-width: 450px) {
  html {  
    min-height: auto;
    overflow: hidden;
  }

  body {
    height: 100vh;
  }
  
  button {
    width: 40%;
  }

  .hidden-mobile {
    opacity: 0;
  }
}