.game {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  max-height: 100%;
}

.level-1 { background-image: url(/images/tilegame/grass.png); }
.level-2 { background-image: url(/images/tilegame/dirt.png); }
.level-3 { background-image: url(/images/tilegame/ice.png); }
.level-4 { background-image: url(/images/tilegame/rock.png); }
.level-5 { background-image: url(/images/tilegame/space.png); }

.grid {
  width: min(min(95vh, 75%), 600px);
  height: min-content;
  display: grid;
  grid-template-columns: repeat(12, 8.333%);
  gap: 0px;
  margin: 0;
  padding: 0;
}

.plate {
  aspect-ratio: 1;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.player-icon, .key, .clock {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.floor {
  background-attachment: fixed;
}

@media (max-width: 450px) {

  .game {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    height: 98vh;
  }

  .game-tc {
    overflow-y: auto !important;
  }
  
  .grid {
    width: 90%;
    max-width: 100vw;
    max-height: 100vh;
    margin-inline: auto;
  }
}