html {
    background: #030020;
    // background: linear-gradient(#030020, #140033 100%);
    background: linear-gradient(130deg, #04002e 0% 5%, #030020 100%);
    background-attachment: fixed;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

a, a:visited, a:active {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

main {
    width: 80%;
    padding-inline: 30px;
    margin-inline: auto;
    margin-bottom: 200px;
    text-align: center;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none !important;

    &__fade {
        opacity: 0 !important;
        padding-top: 40px;
    }
}