html {
    background: #030020;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

a, a:visited, a:active {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}