html {
    background: #030020;
    background: linear-gradient(#030020, #140033 100%);
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

a, a:visited, a:active {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

main {
    width: 80%;
    padding: 30px;
    text-align: center;
}

.active {
    opacity: 1 !important;
}