html {
    background: #030020;
    background: linear-gradient(130deg, #04002e 0% 5%, #030020 100%);
    background-attachment: fixed;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

a, a:visited, a:active {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

main {
    width: 80%;
    padding-inline: 30px;
    margin-inline: auto;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    line-height: 200%;
    margin-top: 300px;
    margin-bottom: 10px;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none !important;

    &__fade {
        @extend .hidden;
        transform: translateY(40px)
    }
}