@font-face {
    font-family: 'Agency FB Thin';
    src: url(/src/fonts/AgencyFB-Bold.ttf) format('truetype');
}

html {
    color: var(--text);
}

h1, h2, h3, h4 {
    font-family: 'Agency FB Thin', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}