.about {

    & p {
        line-height: 200%;
    }

    & b {
        font-size: 1.4rem;
        font-style: italic;
        font-weight: 900;
    }

    &__hook {
        font-size: 2rem;
        font-style: italic;
        font-weight: 900;
    }

    &__intro {
        font-size: 1.4rem;
        font-style: italic;
        margin-bottom: 100px;
    }

    &__history {
        width: 70%;
        margin-inline: auto;
    }
}