.about {

    & p {
        font-size: 1.4rem;
        line-height: 200%;
    }

    & b {
        font-size: 1.6rem;
        font-style: italic;
    }

    &__intro {
        font-weight: bold;
        font-size: 1.6rem;
        font-style: italic;
        margin-bottom: 100px;
    }

    &__history {
        width: 70%;
        margin-inline: auto;
    }
}