.projects {
    &__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        position: relative;
        margin-bottom: 0;

        & a {
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--text);
        }

        & h3 {
            margin: 5px 0;
        }
    }

    &__icons {
        margin-top: 40px;
    }

    &__icon {
        font-size: 3rem;
        padding: 0 30px;
    }

    &__image {
        width: 80%;
    }
}