.projects {
    &__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-bottom: 200px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        position: relative;
        margin-bottom: 0;

        & a {
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--text);
        }

        & h3 {
            margin: 5px 0;
        }
    }

    &__icons {
        margin-top: 40px;
    }

    &__icon {
        font-size: 3rem;
        padding: 0 30px;
    }

    &__gallery {
        position: relative;
        & .image__left__1 {
            top: 0%;
            right: 0;
        }

        & .image__left__2 {
            top: 40%;
            right: 25%;
        }
        & .image__right__1 {
            top: 0%;
            left: 0;
        }

        & .image__right__2 {
            top: 40%;
            left: 25%;
        }

        & .image__landscape {
            width: 100%;
        }

        & .image__portrait {
            width: 60%;
        }

        & .image__square {
            width: 80%;
        }
    }

    &__image {
        position: absolute;
        border-radius: 10px;
        border: solid 1px var(--text);
    }
}