@use '../base/utils' as u;

.projects {
    &__card {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        margin-bottom: 200px;

        @include u.breakpoint('large') {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__large {
            display: none;
            @include u.breakpoint('large') { display: flex; }
        }

        &__small {
            @include u.breakpoint('large') { display: none; }
        }
    }

    &__title {
        position: relative;
        margin-bottom: 0;

        & a {
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--text);

            &:hover {
                color: var(--textAlt)
            }
        }

        & h3 {
            margin: 5px 0;
            color: var(--text)
        }
    }

    &__date {
        color: var(--textAlt)
    }

    &__icons {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: center;

        @include u.breakpoint('medium') { justify-content: space-around; }
    }

    &__icon {
        font-size: clamp(2rem, 0.9412rem + 2.9412vw, 3rem);
        margin: 0 15px;
    }

    &__gallery {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: min(325px, 75%);
        & .image__left__A, .image__left__B {
            transform: translateX(50%);
        }

        & .image__right__A, .image__right__B {
            transform: translateX(-50%);
        }

        & .image__left__A {
            top: 0%;
            right: calc(50% - 30px);
            @include u.breakpoint('large') { top: 0; right: 0; }
        }

        & .image__right__A {
            top: 0%;
            left: calc(50% - 30px);
            @include u.breakpoint('large') { top: 0; left: 0; }
        }

        & .image__left__B {
            top: 90px;
            right: calc(50% + 30px);
            @include u.breakpoint('medium') { top: 120px; right: calc(45% + 60px);}
            @include u.breakpoint('large') { top: 90px; right: 90px }
            @include u.breakpoint('xlarge') { top: 120px; right: 120px; }
        }

        & .image__right__B {
            top: 90px;
            left: calc(50% + 30px);
            @include u.breakpoint('medium') { top: 120px; left: calc(45% + 60px); }
            @include u.breakpoint('large') { top: 90px; left: 90px; }
            @include u.breakpoint('xlarge') { top: 120px; left: 120px; }
        }

        & .image__landscape {
            width: min(350px, 75%);
            @include u.breakpoint('medium') { width: 450px; }
            @include u.breakpoint('large') { width: 350px; }
            @include u.breakpoint('xlarge') { width: 450px; }
        }

        & .image__square {
            width: min(300px, 60%);
            @include u.breakpoint('medium') { width: 375px; }
            @include u.breakpoint('large') { width: 300px; }
            @include u.breakpoint('xlarge') { width: 375px; }
        }

        & .image__portrait {
            width: min(250px, 55%);
            @include u.breakpoint('medium') { width: 300px; }
            @include u.breakpoint('large') { width: 250px; }
            @include u.breakpoint('xlarge') { width: 300px; }
        }

        @include u.breakpoint('medium') { padding-bottom: min(425px, 75%); }
    }

    &__image {
        position: absolute;
        border-radius: 10px;
        border: solid 1px var(--textAlt);

        @include u.breakpoint('large') {
            transform: translateX(0%) !important;
        }
    }

    &__paragraphs {
        width: 90%;
    }
}