.skills {
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    
    &__list {
        display: flex;
        justify-content: center;
        font-size: 4rem;
        margin: 50px 0px;
    }

    &__icon {
        padding: 10px;
    }
}