.skills {
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0px;
    }

    &__icon {
        padding: 10px 50px;
        font-size: 4rem;
        transition: 0.5s;
    }
}