@use '../base/utils' as u;

.skills {
    &__section {
        display: grid;
        grid-template-columns: 1fr;
        align-items: stretch;
        gap: 10px;

        @include u.breakpoint('medium') { grid-template-columns: 1fr 6fr; }
    }

    &__menu {
        display: flex;
        gap: 10px;
        justify-content: center;

        @include u.breakpoint('medium') {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            max-width: 100px;
            aspect-ratio: 1;
            background-color: purple;

            @include u.breakpoint('medium') {
                max-width: 999px;
            }
        }

        &__button {
            width: 100%;
            max-width: 100px;
            aspect-ratio: 1;
            border: none;
            border-radius: 0;
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 10px;

            @include u.breakpoint('medium') {
                max-width: 999px;
            }

            & i {
                font-size: clamp(2.5rem, -0.1471rem + 7.3529vw, 5rem);
            }

            & p {
                position: absolute;
                margin: 0;
                left: 50%;
                transform: translateX(-50%);
                bottom: 5%;
                font-family: 'Agency FB Thin', sans-serif;
                text-transform: uppercase;
                font-size: clamp(0.9rem, 0.2647rem + 1.7647vw, 1.5rem);
            }
        }
    }

    &__content {
        position: relative;
        background-color: green;
        flex: 1;
        padding: 10px;
        padding-bottom: 150px;
    }

    &__list {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: red;
    }

    &__icon {
        flex: 1;
        font-size: clamp(2.5rem, 0.9118rem + 4.4118vw, 4rem);
        padding: 10px 0;
    }
}

// .skills {
//     text-align: center;
//     border-radius: 20px;
//     padding: 5px;

//     &__section {
//         margin-bottom: 100px;
//     }
    
//     &__list {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         align-items: center;
//     }

//     &__icon {
//         flex: 1;
//         padding: 10px 25px;
//         font-size: clamp(2.5rem, 0.9118rem + 4.4118vw, 4rem);
//         transition: 0.5s;
//         @include u.breakpoint('medium') { padding-inline: 30px; flex: 0; }
//         @include u.breakpoint('large') { padding-inline: 40px; }
//         @include u.breakpoint('xlarge') { padding-inline: 50px; }

//         & p {
//             text-align: center;
//         }
//     }

//     &__text {
//         width: 90%;
//         margin-inline: auto;
//         @include u.breakpoint('medium') { width: 80%; }
//         @include u.breakpoint('large') { width: 70%; }
//     }
// }