.skills {
    text-align: center;
    border-radius: 20px;
    padding: 5px;

    &__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    &__list {
        display: flex;
        justify-content: center;
        font-size: 4rem;
        margin: 50px 0px;
    }

    &__icon {
        padding: 10px;
    }

    &__subtitle {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: darkgoldenrod;

        & h3 {
            width: 70%;
        }

        & i {
            font-size: 3rem;
        }
    }
}