.skills {
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 50px 0px;
    }

    &__icon i {
        padding: 10px;
        font-size: 4rem;
    }
}