.skills {
    text-align: center;
    background-color: rgba($color: #07001a, $alpha: 1);
    border-radius: 20px;
    padding: 5px;
    
    &__list {
        display: flex;
        justify-content: space-around;
        font-size: 4rem;
        margin: 50px 0px;
    }
}