@use '../base/utils' as u;

.social {
    position: fixed;
    top: 10px;
    right: 10px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 99;

    @include u.breakpoint('small') {
        top: 15px;
        right: 15px;
        gap: 30px;
    }

    & a {
        font-size: clamp(2rem, 0.9412rem + 2.9412vw, 3rem);
    }
}

.to-top {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    right: 10px;
    width: 3rem;
    aspect-ratio: 1;
    z-index: 99;
    font-size: 2rem;

    @include u.breakpoint('small') {
        bottom: 15px;
        right: 15px;
    }
}

.social a, .to-top i {
    color: var(--text);
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        transform: scale(0.9);
        opacity: 1;
        color: var(--textAlt)
    }
}