.social {
    position: fixed;
    top: 15px;
    right: 15px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 99;

    & a {
        font-size: 3rem;
    }
}

.to-top {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    right: 15px;
    width: 3rem;
    aspect-ratio: 1;
    z-index: 99;
    font-size: 2rem;
}

.social a, .to-top i {
    color: var(--text);
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        transform: scale(0.9);
        opacity: 1;
    }
}