.social {
    position: fixed;
    top: 15px;
    right: 15px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr;

    &__icon {
        font-size: 3rem;
    }
}

.to-top {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    right: 15px;
    width: 3rem;
    aspect-ratio: 1;

    &__icon {
        font-size: 2rem;
        // opacity: 0;
        display: none;
    }
}

.icon {
    // opacity: 0;
    color: var(--text);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        transform: scale(0.9);
    }
}