.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin-bottom: 10vh;

    &__headers {
        text-align: center;
        transition: 3s;


        & h1 {
            letter-spacing: 10px;
            background: -webkit-linear-gradient(var(--text), var(--textAlt) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 0;
        }

        & h2 {
            font-weight: 100;
            font-size: clamp(1rem, 0.5263rem + 2.1053vw, 2rem);
            letter-spacing: 10px;
            border: none;
        }
    }
}