.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin-bottom: 10vh;

    &__headers {
        text-align: center;
        line-height: 75%;
        transition: 3s;


        & h1 {
            letter-spacing: 10px;
        }

        & h2 {
            font-weight: 100;
            font-size: 2rem;
            letter-spacing: 10px;
        }
    }
}